<section class="detail-page" *ngIf="recommendation">

  <button class="logout-button" (click)="logout()">
    Cerrar sesión
  </button>

  <div class="detail-container">

    <div class="image-box">
      <img [src]="recommendation.image" [alt]="recommendation.title">
    </div>

    <div class="info-box">
      <h1>{{ recommendation.title }}</h1>

      <p><strong>Género:</strong> {{ recommendation.genre }}</p>
      <p><strong>Año:</strong> {{ recommendation.year }}</p>
      <p><strong>Agregado por:</strong> {{ recommendation.user }}</p>

      <p class="description">
        {{ recommendation.description }}
      </p>

      <div class="trailer-box" *ngIf="getYoutubeEmbedUrl(recommendation.trailerUrl)">

        <h2>Trailer</h2>

        <iframe
          [src]="getYoutubeEmbedUrl(recommendation.trailerUrl)"
          title="Trailer"
          frameborder="0"
          allowfullscreen>
        </iframe>

      </div>

      <app-comment-box
        [title]="recommendation.title"
        [comments]="recommendation.comments">
      </app-comment-box>

      <button class="back-button" (click)="goBack()">
        Regresar
      </button>
    </div>

  </div>

</section>